<div class="p-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class='font-weight-bold text-uppercase mb-0'>My Teams</h2>
    <%= link_to 'New Team', new_team_path, class: 'btn btn-lg btn-success' %>
  </div>

    <% @teams.each do |team| %>
    <div>
      <%= render partial: 'team', locals: { team: team } %>
    </div>
    <%= link_to 'New Team', new_team_path, class: 'btn btn-lg btn-success w-75' %>
    <% end %>
</div>
