

<h1 class='text-center mt-5' >New Team</h1>
<div class="form-container">
  <%= simple_form_for @team do |f| %>
    <%= f.input :name %>
    <%= f.input :image, as: :file %>
    <%= f.button :submit, "Create", class: 'btn-lg btn-success w-100' %>
  <% end %>
</div>
