
<div class="mx-3">
  <%= render partial: 'team', locals: { team: @team } %>
</div>

<div class="d-flex flex-sm-column flex-md-row flex-wrap">
  <%= render_expense_collection(@team.expenses, 'expenses/expense')%>
</div>