
<div class="mx-3">
  <%= render partial: 'team', locals: { team: @team } %>
</div>

<div class="d-flex flex-sm-column flex-md-row flex-wrap">
  <% @team.expenses.each do |expense| %>
  <%= render partial: 'expenses/expense', locals: { expense: expense } %>
  <% end %>
</div>