<div class="landing">
  <div class="welcome text-center py-4">
    <h1 class='text-white display-1'>Your Saving Buddy</h1>
    <p class='text-white display-4 font-weight-light font-italic'>Safe With Accountability</p>
    <%= link_to 'Save Now!!!', new_user_path, class: ' dark-btn btn btn-lg ' %>
  </div>
</div>