/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wrapper {
  max-width: 2100px;
  margin-left: auto;
  margin-right: auto;
}

.custom-nav {
  background-color: #3778c2 !important;
}

a {
  color: white !important;
}

view {
  margin-left: 3rem;
  font-size: 2rem;
}

.flex-1 {
  flex: 1;
}

.custom-card-img {
  height: 150px !important;
  width: 150px;
}

.invite-form {
  width: 20em;
}

.custom-card {
  width: 100%;
  margin: calc(2% / 4);
}

.price {
  color: #5e5656;
  font-size: 2rem;
}

.custom-btn {
  background-color: #5fb523;
}

.section-title {
  color: #6b8eb7;
}

.grey-bg {
  background-color: #f1f3f2;
}

@media screen and (min-width: 768px) {
  .custom-card {
    width: 100%;
    margin: calc(2% / 4);
  }

  .custom-card-img {
    width: 100%;
  }
}
