/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.wrapper {
  max-width: 2100px;
  margin-left: auto;
  margin-right: auto;
}

nav {
  height: 10vh;
  background-color: #3778c2;
}

a {
  color: white !important;
}

view {
  margin-left: 3rem;
  font-size: 2rem;
}

.flex-1 {
  flex: 1;
}

.side-menu {
  min-height: 90vh;
  width: 225px;
}

.side-bar {
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  min-width: 225px;
  max-width: 225px;
}

.side-nav-link {
  font-size: 1.2em;
}

.custom-card-img {
  height: 286px !important;
}

.invite-form {
  width: 17em;
}
