// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.team-img-container {
  height: 280px;
}

.team-img {
  width: 250px;
  height: 100%;
}
