// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$breakpoint-tablet: 768px;

.form-container {
  max-width: 450px;
  margin: 0 auto;
}

.avatar-container {
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.card {
  max-width: 25%;
  min-width: 16rem !important;
}
